<div data-ng-init="init()">
	<div class="controls">
		<div class="container-fluid">
			<label>Filtrera:</label>

			<button class="filter" data-filter="all">Alla</button>
			<button class="filter" data-filter=".dogs">Hundar</button>
			<button class="filter" data-filter=".cats">Katter</button>

			<label>Sortera:</label>

			<button class="sort" data-sort="myorder:asc">Stigande</button>
			<button class="sort" data-sort="myorder:desc">Fallande</button>
		</div>

	</div>
	<div id="Container" class="container">

	</div>
</div>