<!--<link rel="stylesheet" href="Resources/Css/weather.css">-->

<div data-ng-init="init()" class="container-fluid">
		<div id="wrapper" >
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1"></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><span id="header">The Weather Page</span></div>
		<div id="cityForm" class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
				<input type="text" class="form-control" placeholder="Enter city" id="inpCity" onkeydown="if (event.keyCode == 13) document.getElementById('subCity').click()">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<input type="submit" class="btn btn-default" value="Get weather" id="subCity">
			</div>
			
		</div>
		<div class="col-lg-1"></div>
		</div>
		
		
		<div class="row">
	
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
		<div class="leftWrapper col-lg-4 col-md-4 col-sm-5 col-xs-12" align="center">
			<div class="overhead" id="currentCity"><span><h2>Current</h2></span></div>
			<div class="weatherInfoWrapper" id="currentWrapper"><br/>
				
				<div class="textWrapper  col-xs-12 upper" >					
					<span class="weatherSpan" id="currentWeather"><h2></h2></span>				
				</div>
				<div class="textWrapper col-xs-12 lower">
					<span class="tempSpan" id="currentTemp"><h2></h2></span>	
				</div>
				<div class="iconWrapper">
					<img src="#" alt=""  class="weImg" >
				</div>
			</div>
		</div>
		<!--<div class="rightWrapper col-lg-7 col-md-7 col-sm-6 col-xs-12">
			<div class="overhead" id="weeklyCity"><span><h2>This weeks weather</h2></span></div>
			<div class="row">
				<div class="miniWeatherWrapper col-lg-3 col-md-3 col-sm-4 col-xs-6" id="currentWrapper">				
					<div class="textWrapper  col-xs-12 upper" >					
						<span class="weatherSpan"><h2 class="mini"></h2></span>				
					</div>
					<div class="textWrapper col-xs-12 lower">
						<span class="tempSpan"><h2 class="mini"></h2></span>	
					</div>
					<div class="iconWrapper">
						<img src="#" alt="" class="miniImg">
					</div>
					
				</div>
			</div>
		</div>-->
		<!--<div class="col-lg-1  col-md-0 col-sm-0 col-xs-0"></div>-->
	</div>
</div>
</div>