<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <!--<link href="../Content/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../CustomStylResources/Css/Style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!--<script src="../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>-->
    <!--<script src="../Scripts/lodash.min.js"></script>-->
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/smart-table.min.js"></script>
    <!--<script src="../Scripts/angular-google-maps.js"></script>-->
</head>
<body>
    <div ng-controller="MainController">
        <div class="header-image">
            <img ng-src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png" class="img-responsive" />
            <h3><span class="glyphicon glyphicon-th"></span> API-calls left: <span>{{api_status.resources.core.remaining}}</span> <span class="glyphicon glyphicon-th"></span></h3>
            <h4 ng-show="{{timeToReset}}"><timer end-time="{{timeToReset}}">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></h4>
        </div>
    </div>
    <div ng-controller="UsersController">
        <table st-table="displayedCollection" st-safe-src="users" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-xs-3 btn btn-success glyphicon glyphicon-picture" st-sort="login"></th>
                    <th class="col-xs-3 btn btn-success glyphicon glyphicon-user" st-sort="login"></th>
                    <th class="col-xs-3 btn btn-success glyphicon glyphicon-globe" st-sort="url"></th>
                    <th class="col-xs-3 btn btn-success glyphicon glyphicon-lock" st-sort="site_admin"></th>
                </tr>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="search users" type="text" /></th>
                </tr>
            </thead>
            <tr ng-repeat="user in displayedCollection">
                <td class="picture"><img ng-src="{{user.avatar_url}}" /></td>
                <td>{{user.login}}</td>
                <td><a href="{{user.html_url}}">{{user.html_url}}</a></td>
                <td class="glyph"><span ng-class="{'glyphicon glyphicon-lock':!user.site_admin}"></span></td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <hr />
    <div class="singleSearch" ng-controller="UserController">
        <div class="formInput">
            <form name="searchUser" ng-submit="search(username)">
                <input type="search" class="input-sm" required placeholder="enter username" ng-model="username" />
                <input type="submit" class="btn btn-warning" value="Search" />
            </form>
        </div>
        <div class="err-message">{{error}}</div>
        <table class="table table-bordered table-striped" ng-show="username">
            <thead>
                <tr class="user-header">
                    <th class="user-glyph col-xs-3"><span class="glyphicon glyphicon-user"></span></th>
                    <th class="user-glyph col-xs-3"><span class="glyphicon glyphicon-envelope"></span></th>
                    <th class="user-glyph col-xs-3"><span class="glyphicon glyphicon-eye-open"></span></th>
                    <th class="user-glyph col-xs-3"><span class="glyphicon glyphicon-map-marker"></span></th>
                    <th class="user-glyph col-xs-3"><span class="glyphicon glyphicon-pencil"></span></th>
                    <th class="user-glyph col-xs-3"><span class="glyphicon glyphicon-file"></span></th>
                </tr>
            </thead>
            <tr>
                <td>{{user.name}}</td>
                <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                <td>{{user.followers}}</td>
                <td>{{user.location}}</td>
                <td><a href="{{user.blog}}" />{{user.blog}}</td>
                <td>{{user.repos}}</td>
            </tr>
        </table>
    </div>
    <script src="../Resources/JS/Table.js" type="text/javascript"></script>
</body>
</html>
