<div class="container-fluid" id="login-container">
  <div class="row">
    <div class="col-md-12">
      <form ng-submit="LoginModalCtrl.submit(_email, _password)">
        <input type="email" ng-model="_email" placeholder="email" />
        <input type="password" ng-model="_password" placeholder="password"/>
        <button class="btn btn-success">Submit</button>
      </form>
      <button class="btn btn-danger" ng-click="LoginModalCtrl.cancel()">Cancel</button>
      <a href="#">Register</a>
    </div>
  </div>
</div>