<div class="container-fluid" id="login-container">
  <div class="row">
    <div class="col-md-12">
      <form ng-submit="submit(_username, _email, _password)">
        <input type="text" ng-model="_username" placeholder="username" />
        <input type="email" ng-model="_email" placeholder="email" />
        <input type="password" ng-model="_password" placeholder="password"/>
        <input type="submit" id="submit" value="Submit" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>