<div id="secretDiv">
    <h1>HEMLIGT!</h1>
    <p>En riktigt hemlig sida.</p>
    <h1>Du är inloggad som:</h1>
    <h1>Användarnamn: {{$root.currentUser.username}}</h1>
    <h1>Email: {{$root.currentUser.email}}</h1>
    <br />
    <h1>Alla användare:</h1>
    <div ng-repeat="user in users">
        <p>Namn: {{user.username}}</p>
    </div>
</div>