body {
	margin-top: 50px;
}

.container-fluid {
	max-width: 1100px;
}

/*-------- topnav --------*/
#topnav-logo {
	height: 40px;
	width: 40px;
	margin-top: -10px;
}
/*-------- end of: topnav --------*/

/*-------- frontpage --------*/
#frontpage-h1-container > h1 {
	color: white;
	font-size: 4em;
	text-align: center !important;
	padding-top: 100px;
}
/*-------- end of: frontpage --------*/

/*-------- github search --------*/
#github-container {
	padding-top: 60px;
}
/*-------- end of: github search --------*/

/*-------- weather --------*/
#weather-container {
	padding-top: 100px;
}
/*-------- end of: weather --------*/

/*-------- login --------*/
#login-container {
	padding-top: 40px;
	text-align: center;
}
#login-container * {
	width: 220px;
	max-width: 100%;
	margin: 0 auto 20px auto;
}
#login-container form {
	margin-bottom: 0px;
}
#login-container a {
	color: white;
	font-weight: 400;
	font-size: 0.9em;
}
/*-------- end of: login --------*/