#clock {
   font-family: monospace;
    font-size: 150%;
  height: 100%;
  width: 60%;
  line-height: 100px;  
  margin: 150px auto 0;
  padding: 0 50px;
  background: white;
  color: #000000;
  text-align: center;
  border-radius: 20px;
  text-shadow: 0 0 3px #fff;
 -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
-webkit-border-radius: 12px;
-moz-border-radius: 7px; 
border-radius: 7px;
background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}