body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri;
    font-size: 1.7em;
    
    background-image: url("/Resources/img/Sky.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #9BD8E8;
}

.glyphicon {
    font-size: 1.5em;
    color:white;
}

.glyph {
    text-align: center;
}

    .glyph span {
        line-height: 50px;
        color:black;
    }

.user-glyph {
    text-align: center;
    border-radius: 3px;
}

    .user-glyph span {
        line-height: 1.3em;
    }

.header-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.picture img {
    height: 50px;
    /*border-radius: 35%;*/
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:#ff6a00;
}


form {
    text-align: center;
}

.err-message {
    font-style: italic;
    font-size: 1.3em;
    color: red;
    /*border:hidden;*/
}

.formInput {
    margin: 20px;
}

.user-header {
    background: #5cb85c;
    color: white;
}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th  {
   background-color: #c9f2bc;
 }
