#wrapper{
	/*background-image: url("/Resources/img/Sky.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #9BD8E8;	*/
	height: calc(100vh - 50px);
	width: 100%;
	
}


.weatherInfoWrapper, .miniWeatherWrapper{
	
	margin-top: 5px;
	position: relative;
	background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	min-height: 100px;
}
.weatherInfoWrapper Img{	
width: 100%;	
padding-left: 20px;
}
.miniWeatherWrapper img{
	width: 100%;
	padding-left: 2px;
}
#cityForm{
	margin-top: 15px;
	align-content: right;
}

.textWrapper{
	position: absolute;		
	left:0;
	
}
.filler{
	height: 100%;
	padding-left: 100%;
	padding-top: 10px;
}
.weatherInfoWrapper .upper, .miniWeatherWrapper .upper{
	top:0px;
}

.weatherInfoWrapper .lower{
	bottom: 10px;	
}

.miniWeatherWrapper .lower{
	top:50px;
}
 h2 {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.mini{
 background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 2px!important;	
}

.weatherInfoWrapper h2, #header, .overhead h2{
	font-family: Labtop, Courier New, Courier, monospace;
	font-style: bold;
	color: white;
	font-size: 30px;
}
.miniWeatherWrapper h2{
	font-family: Labtop, Courier New, Courier, monospace;
	font-style: bold;
	color: white;
	font-size: 15px;
}
#header{
	font-size: 30px;
}

#wrapper{
	position: relative;
	width: 100%;
}


.weatherInfoWrapper .weatherSpan{
	margin-right: 15px!important;
	right: 15px;
	float: right;
	
	
}
.weatherInfoWrapper .tempSpan{	
	margin-right: 15px;
	right: 15px;
	float: right;	
}
.weatherInfoWrapper .tempSpan h2{
	font-size: 50px;
}
.miniWeatherWrapper .weatherSpan{
	

	float: left;
	
	
}
.miniWeatherWrapper .tempSpan{	
	
	
	float: left;	
}
/* Landscape phones and down */
@media (max-width: 480px) {

	 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.weatherInfoWrapper .tempSpan{	
			margin-left: 5px!important;
	
		 }
		.weatherInfoWrapper .weatherSpan{
	margin-left: 5px!important;
	
}
	 }
	 

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
.weatherInfoWrapper .tempSpan{	
			margin-left: 5px!important;
	
		 }
		.weatherInfoWrapper .weatherSpan{
	margin-left: 5px!important;
	
}
	 }
@media (min-width: 980px) and (max-width: 1199px) {
	
.weatherInfoWrapper .tempSpan{	
			margin-left: 5px!important;
	
		 }
	 }
.weatherInfoWrapper .weatherSpan{
	margin-left: 5px!important;
	
}
/* Large desktop */
@media (min-width: 1200px) { 
	
	}